{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <h1>Формы (POST)</h1>
    <div>Тема лабораторной работы - Формы (POST). Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab4/sum">Суммирование</a> - пустые поля = 0</li>
        <li><a href="/lab4/sub">Вычитание</a> - ошибка при пустых полях</li>
        <li><a href="/lab4/mul">Умножение</a> - пустые поля = 1</li>
        <li><a href="/lab4/div">Деление</a> - ошибка при делении на ноль</li>
        <li><a href="/lab4/pow">Возведение в степень</a> - ошибка при пустых полях и 0^0</li>
    </ol>        
{% endblock %}