{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Создание статьи</h1>

    {% if error %}
        <div style="color: rgb(185, 5, 5); background-color: #c2acac; padding: 10px; border-radius: 5px; margin-bottom: 15px;">
            {{ error }}
        </div>
    {% endif %}

    <form method="post">
        <div>
            <label>
                Название статьи:
                <input type="text" name="title" maxlength="50">
            </label>
        </div>

        <div style="margin-top: 15px;">
            <label>
                Текст статьи:
                <br>
                <textarea name="article_text" rows="10" cols="60"></textarea>
            </label>
        </div>

        <div style="margin-top: 15px;">
            <button type="submit">Готово</button>
        </div>
    </form>
{% endblock %}