{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
<h1>Редактирование статьи</h1>

{% if error %}
    <div style="color: rgb(185, 5, 5); background-color: #c2acac; padding: 10px; border-radius: 5px; margin-bottom: 15px;">
        {{ error }}
    </div>
{% endif %}

<form method="post">
    <div>
        <label>
            Название:
            <input type="text" name="title" maxlength="50" value="{{ article['title'] }}">
        </label>
    </div>

    <div style="margin-top: 10px;">
        <label>
            Текст:
            <br>
            <textarea name="article_text" rows="10" style="width: 100%;">{{ article['article_text'] }}</textarea>
        </label>
    </div>

    <div style="margin-top: 10px;">
        <button type="submit">Сохранить</button>
        <a href="{{ url_for('lab5.list_articles') }}" style="margin-left: 10px;">Отмена</a>
    </div>
</form>
{% endblock %}
