<!-- templates/lab5/success_login.html -->
{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
<div class="success-wrapper">
    <div class="success-card">
        <div class="success-icon">✓</div>

        <h1 class="success-title">Вход выполнен успешно</h1>

        <p class="success-text">
            Добро пожаловать, <strong>{{ login }}</strong>.
        </p>

        <a href="/lab5" class="btn">Перейти к базе знаний</a>
    </div>
</div>


{% endblock %}
