<!-- templates/lab5/success_login.html -->
{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
<div class="card center">
  <h1 class="h1">Вход выполнен</h1>
  <p class="p">Добро пожаловать, <strong>{{ login }}</strong>. Перейдите к статьям или создайте новую.</p>

  <div class="card__actions" style="justify-content:center;">
    <a class="btn btn--primary" href="{{ url_for('lab5.list_articles') }}">Открыть статьи</a>
    <a class="btn" href="{{ url_for('lab5.create') }}">Создать статью</a>
  </div>
</div>


{% endblock %}
