<!-- templates/lab5/success.html -->
{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
<div class="card center">
  <h1 class="h1">Регистрация завершена</h1>
  <p class="p">Аккаунт создан. Теперь можно войти и начать работать со статьями.</p>

  <div class="card__actions" style="justify-content:center;">
    <a class="btn btn--primary" href="{{ url_for('lab5.login') }}">Перейти ко входу</a>
    <a class="btn" href="{{ url_for('lab5.lab') }}">Главная ЛР-5</a>
  </div>
</div>


{% endblock %}
