<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список книг</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <h1>Список книг</h1>
    
    <ul>
        {% for book in books %}
        <li>
            <strong>{{ book.title }}</strong> - {{ book.author }}<br>
            Жанр: {{ book.genre }}, Страниц: {{ book.pages }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>