{% extends "base.html" %}


{% block lab %}Лабораторная работа 2{% endblock %}


{% block main %}
<h1>Шаблоны</h1>
<div>Игуменшев Дмитрий Евгеньевич. Лабораторная 8</div>
<ol>
    <li>
        <a href="/lab2/example">example</a>
    </li>
    <li>
        <a href="/lab2/filters">filters</a>
    </li>
    <li>
        <a href="/lab2/flowers">Работа с цветами</a>
    </li>
    <li>
        <a href="/lab2/calc/">Калькулятор</a>
    </li>
    <li>
        <a href="/lab2/books">Список книг</a>
    </li>
    <li>
        <a href="/lab2/berries">Каталог ягод</a>
    </li>
</ol>
{% endblock %}